# =========================================
# ENVIRONMENT VARIABLES / SECRETS
# =========================================

.env
.env.*
!.env.example


# =========================================
# PYTHON VIRTUAL ENVIRONMENTS
# =========================================

.venv/
venv/
env/


# =========================================
# PYTHON CACHE
# =========================================

__pycache__/
*.py[cod]
*$py.class


# =========================================
# PYTHON BUILD FILES
# =========================================

build/
dist/
*.egg-info/


# =========================================
# TEST / COVERAGE FILES
# =========================================

.pytest_cache/
.coverage
htmlcov/


# =========================================
# IDE / EDITOR FILES
# =========================================

.vscode/
.idea/


# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db


# =========================================
# LOG FILES
# =========================================

*.log
logs/